@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat:wght@400;500&family=Nunito+Sans:opsz@6..12&family=Open+Sans:ital,wght@0,500;0,600;1,500&family=Poppins:wght@300&family=Raleway:wght@500&family=Roboto&family=Ubuntu:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open-Sans', 'Poppins', sans-serif;
}

body {
    height: 100vh;
    display: grid;
    place-items: center;
    background-color: #F6FDFD;
}

.container {
    width: 480px;
    max-width: 500px;
    height: 300px;
    text-align: center;
    position: relative;
    z-index: 2;
}

h1 {
    font-size: 60px;
    margin: 10px 0;
    color: #002147;
    font-weight: bold;
}

h2 {
    font-size: 80px;
    color:#111111;
}

.btn-div {
    position: relative;
    top: 30px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.btn {
    padding: 10px;
    border: 2px solid #010B13;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 2.5px;
    background-color: transparent;
    transition: all 500ms ease;

}

.btn:hover {
    color: #fff;
    background-color: #010B13;
    box-shadow: 0px 0px 30px -11px rgba(0, 0, 0, 0.75);
}

/* RESPONSIVE DESIGN */
@media screen and (max-width: 768px) {
    .container {
        width: 350px;
        max-width: 355px;
        height: 250px;
        transform: scale(0.8);
    }

    h1 {
        font-size: 40px;
    }

    h2 {
        font-size: 30px;
    }

    .btn-div {
        top: 10px;
    }

    .btn {
        padding: 5px;
        font-size: 16px;
        letter-spacing: 2px;
    }
}